---

---
<form id="search-form">
    <input type="text" name="search" id="search" class="form-control hidden">
    <button class="btn">
        <span>Buscar</span>
    </button>
</form>

<style lang="scss">
#search-form {
    .hidden {
        display: none;
    }
    button {
        
        span {
            display: none;
        }
    }
    
}
</style>