---
import facebook from '/assets/img/Icon-facebook.svg';
import instagram from '/assets/img/Icon-instagram.svg';
import linkedin from '/assets/img/Icon-linkedin.svg';
---
<footer id="footer">
    <div class="container">
        <div class="row ">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <nav class="menu_footer">
                    <ul>
                        <li><a href="/#quem-somos">Quem somos</a></li>
                        <li><a href="">Especialidades</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="/#contato">Contato</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3">
                <ul class="social-media">
                    <li><a href="https://linkedin.com/in/guimontme" target="_blank"><img src={linkedin} alt=""></a></li>
                    <li><a href="https://github.com/guimontme" target="_blank"><img src={facebook} alt=""></a></li>
                    <li><a href="https://instagram.com/guimontme" target="_blank"><img src={instagram} alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 row_copy">
                <div class="copyright">
                    <h6>Health Clinic São Paulo - Todos os Direitos Reservados.</h6> 
                </div>
            </div>
        </div>
    </div>
</footer>

<style lang="scss">
#footer {
    background: #575756;
    padding-top: 51px;
    padding-bottom: 27px;
    color: white;

    .menu_footer {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            gap: 20px;
            li + li {
                margin-left: 20px;
            }
            li a {
                color: white;
                font: normal normal normal 16px/33px Segoe UI;
                letter-spacing: 0px;
                text-decoration: none;
            }
        }
    }
    .social-media {
        display: flex;
        justify-content: center;
        @media (min-width: 768px) {
            justify-content: end;
        }
        margin: 0;
        padding: 0;
        list-style: none;
        li + li {
            margin-left: 14px;
        }
    }
    .row_copy {
        border-top: 1px solid #fff;
        margin-top: 63px;
        padding-top: 40px;
        .copyright {
            h6 {
                font: normal normal normal 16px/21px Segoe UI;
                color: #FFFFFF;
                margin-bottom: 0;
            }
        }
    }
}
</style>